<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h3>Welcome, <%= @user.first_name %>. </h3>
        <p>You have been invited to Party, the parts tracking application</p>
        <p>
          Your username is: <%= @user.email %>.<br/>
        </p>
        <p>
          To finish creating your account, just click <a href=<%= @url %> >here</a>.
        </p>
    </body>
</html>